__pycache__/*
sst-classifier.pt
cfimdb-classifier.pt
pretrain-10-1e-05-multitask.pt
finetune-10-1e-05-multitask.pt
finetune-10-1e-05-multitask.pt
pretrain-1-1e-05-multitask.pt
finetune-1-1e-05-multitask.pt
finetune-10-0.0001-multitask.pt
